extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Michael Barnes
        p An experienced business owner with a late found passion for technology.
        .about-bio
          p As an experienced manager and business owner, I recently discovered my passion for technology, coding, automation, and artificial intelligence within the last few years. As I explored technology solutions for my company I ventured into highly enjoyable and personally satisfying projects that have built the foundation of my technical knowledge, and formed as the foundation my journey into software development.

      .skills-contact-box.box
        h6 Skills

        ul
          li Python
          li Flask
          li Django
          li FastAPI
          li SQLAlchemy
          li Requests
          li Multithreading
          li Object Oriented Programming
          li HTML
          li CSS
          li PHP
          li SQL
          li PostgreSQL
          li JavaScript
          li Node.js
          li Express
          li Pug
          li Fetch and Public APIs
          li Git and GitHub
          li VS Code
          li Linux

        h6 Contact Info

        ul
          li 209-855-1221
          li michael@csnewb.com

        a.btn-link(href='https://www.linkedin.com/in/michael-barnes-244515171/') LinkedIn
        a.btn-link(href='https://github.com/csnewb') GitHub


    nav.nav
      a(href='/')
        span &larr;
        |  Back